.container{
    flex-direction: column;
    max-width: 980px;
    min-height: 30vh;
    margin: auto;
    padding: 1rem;
    background: #E9E9E9;
}

.title{
    width: 100%;
    margin: 2rem 0;
    color:#454545;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
}

// ビンゴ全体
.bingoTable{
    
}

// ビンゴの各行
.bingoRow{
    // 親要素の横を基準に縦横の外の間隔を指定，画面が大きい時の最大サイズも指定
    margin-top: calc(min(5%, 15px));
    margin-bottom: calc(min(5%, 15px));

    // 親要素を基準に左右の中央に配置
    margin-left: auto; margin-right: auto;

    // 画面が大きい時に横の最大サイズを指定
    max-width: 300px;

    // 子要素を等間隔に配置
    display: flex;
    justify-content: space-between;
}

// ビンゴの各セル
.cell{
    // 親要素の横幅を基準に横幅のサイズを決定
    width: 30%;

    // 縦幅を横幅同じにする
    aspect-ratio: 1 / 1;

    position: relative;
    // はみ出した文字は隠す
    overflow: hidden;

    // 輪郭
    border-radius: 10px;
    outline: 3px solid #5DA797;
    
    // 子要素を上下左右の中央に配置
    display: flex;             
    justify-content: center;    
    align-items: center; 
}

// ビンゴの各セルの文字
.cell p{
    margin: 5px;
    max-height: 100%;
}

.cellNoMarke{
    background: #E9E9E9;
    color:#454545;
}

.cellMarked{
    background: #5DA797;
    color:#E9E9E9;
}