.container {
    flex-direction: column;
    max-width: 980px;
    min-height: 100vh;
    margin: auto;
    background: #f3f4f6;
}

.parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.child {
    margin: 1rem;
    background-color: #f3f4f6;
}

.ado{
    width: 120px;
    height: 240px;
}